@mixin properties() {
	--primary: #004959;
	--primary-dark: #002130;
	--primary-light: #3c7586;
	--primary-accent: #39a9dc;
	--text-on-primary: #343434;

	--secondary: #87c544;
	--secondary-dark: #87c544;
	--secondary-light: #baf874;
	--secondary-accent: #f7c700;
	--text-on-secondary: #343434;

	--background: #ffffff;
	--text-color: var(--gray-darker);
	--surface: #f7f7f7;
	--element-bg: #fff;
	--border: #e7e7e7;
	--border-variant: #e1e5ef;
	--text: #ffffffde;
	--error: #dc3545;

	--preload-bg: var(--secondary);

	--input-bg: #ffffff;
	--border-color: var(--border);
	--icon-color: var(--primary);
	--box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
